[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

.vs/

*.apk
*.aab
*.unitypackage

# Rider
.idea/

# Visual Studio
.vscode/

# OS
.DS_Store
Thumbs.db